/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border:none;
}

/*start css*/
html {
	height:100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.88rem;
}
body {
	color: #495057;
}
#dashboard {
	width:100%;
	height:100vh;
}
/*header*/
#header {
	width:100%;
	height:60px;
	position:fixed;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);

	display:flex;
}
.i-blue {
	color:#3f6ad8;
}
.header_logo {
	width:20%;
	height:inherit;
	box-sizing: border-box;
	padding:0 24px;

	display:flex;
	justify-content:space-between;
	align-items: center;
}
.logo {
	height:23px;
	width:97px;
	background-image: url('images/logo-inverse.png');
}
.sidebar_btn > button {
	background-color: white;
}

.header_banner {
	width:80%;
	height:inherit;
	padding:0 24px;

	display:flex;
	justify-content:space-between;
	align-items: center;
}
.header_banner-left {
	width:420px;
	height:inherit;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.header_banner-right {
	width:400px;
	height:inherit;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.search_btn {
	height:42px;
	width:42px;
	background-color: rgba(0, 0, 0, 0.06);
	border-radius: 24px;

	display:flex;
	align-items: center;
	justify-content: center;
	margin-right:8px;
}

.header_link {
	height:inherit;
	box-sizing: border-box;
	padding:0px 10px;
	font-size: 14px;
	color: #6c757d;
	background-color: white;

	display:flex;
	align-items: center;
	justify-content: space-around;
}
.menu_btn {
	width:135px;
}
.settings_btn {
	width:122px;
}
.settings_btn > span {
	width:22px;
	height:22px;
	background-color: #d92550;
	border-radius:16px;
	color:white;

	display:flex;
	align-items: center;
	justify-content: center;
}
.projects_btn {
	width:110px;
}

.header_icon_block {
	width:208px;
	display: flex;
	justify-content: space-between;
}
.header_icon {
	width:44px;
	height:44px;
	border-radius: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.grid_btn {
	background-color: rgba(63, 106, 216, 0.1);
}
.grid_btn > i {
	color:rgb(63, 106, 216);
}
.notify_btn {
	background-color: rgba(217, 37, 80, 0.1);
}
.notify_btn > i {
	color:rgb(217, 37, 80);
}
.lan_btn {
	color: #444054;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lan_btn > img {
	width:32px;
	height:32px;
	border-radius: 32px;
	background-repeat: no-repeat;
}
.overview_btn {
	background-color: rgba(58, 196, 125, 0.1);
}
.overview_btn > i {
	color: rgb(58, 196, 125);
}
.header_divider {
	border-left:1px solid;
	border-color: #e3e3e3;
	height:30px;
}
.profile_btn {
	width: 64px;
	padding:0px;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile_btn > img {
	width:42px;
	height:42px;
	border-radius:42px;
}
.profile_btn > i {
	color: rgba(73, 80, 87, 0.8);
}
.status_sidebar_btn {
	background-color: white;
	color: rgba(73, 80, 87, 0.8);
}

/*body*/
#body {
	width:100%;
	height:calc(100vh - 60px);
	padding-top:60px;
	overflow-y: hidden;

	display: flex;
}

/*sidebar*/
.sidebar {
	width:20%;
	height:inherit;

	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}
.sidebar button {
	background-color: white;
}
.sidebar > div {
	padding-top: 5px;
	padding-bottom: 20px;
	flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;
}
.sidebar_block {	
	display:flex;
	flex-direction: column;
	align-items: center;
}
.sidebar_block > div {
	width:80%;
	min-height: 40px;
	border-radius: 5px;
}
.sidebar_block_title {
	height:40px;
	color: #3f6ad8;
	font-size: 14px;
	font-weight: bold;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-shrink: 0;
}
.sidebar_block_item {
	display: flex;
	flex-direction: column;
	justify-content: ; 
}
.sidebar_block_btn {
	height: 40px;
	margin-bottom: 2px;
	font-size: 14px;
	color: #343a40;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-shrink: 0;
}
.sidebar_block_btn-selected {
	font-weight: bold !important;
}
.sidebar_block_btn > div {

}
.sidebar_block_btn > div > i{
	width: 34px;
	opacity: 0.3;

	display: inline-flex;
	justify-content: center;
}
.sidebar_block_btn > i {
	opacity: 0.3;
	padding-right:10px;
}
.sidebar_block_list {
	padding-top: 7px;
	padding-left: 16px;
	margin-left: 16px;
	border-left: 3px solid;
	border-color: rgb(224, 243, 255);
	border-radius: 1px
}
.sidebar_block_list > button {
	height: 32px;
	width:100%;
	padding-left:15px;
	font-size: 14px;
	border-radius: 5px;

	display: flex;
	align-items: center;
}
.sidebar_block_list-selected {
	font-weight: bold;
	background-color: rgb(224, 243, 255) !important;
	color: #3f6ad8;
}

/*content*/
.dashboard_content {
	width:80%;
	height:inherit;
	background-color: #f1f4f6;

	display: flex;
	flex-direction: column;
}
.dashboard_content > div {
	flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.dashboard_content_header {
	width: inherit;
	height: 120px;
	padding: 0 30px;
	background-color: rgba(255, 255, 255, 0.45);

	display: flex;
	justify-content: space-between;
}
.dashboard_content_header-left {
	width: 610px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dashboard_content_header_icon {
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);

	display: flex;
	justify-content: center;
	align-items: center;
}
.dashboard_content_header_content {
	height: 54px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.dashboard_content_header_content > p {
	padding-top: 6px;
	font-size: 1.25rem;
}
.dashboard_content_header_content > span {
	font-size: 0.88rem;
	color: #495057;
	opacity: 0.6;
}
.dashboard_content_header-right {
	width: 180px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dashboard_content_header-right > button{
	box-shadow: 0 0.125rem 0.625rem rgba(52,58,64,0.4);
}
.content_header_btn-sq {
	width: 40px;
	height: 33px;
	background-color: #343a40;
	color: white;
	border-radius: 5px;
}
.content_header_btn-req {
	width: 118px;
	height: 33px;
	background-color: #16aaff;
	color: white;
	border-radius: 5px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.dashboard_content_center {
	width: inherit;
	padding: 0 30px 30px 30px;

	display: flex;
	flex-direction: column;
	align-items: 100%
}
.dashboard_row {
	width: 100%;
	margin-bottom: 30px;

	display: flex;
	justify-content: space-between;
}
.switch_content_row {
	margin-top: 30px;
}
.switch_content_btn {
	width: 100px;
	height: 37px;
	margin-right: 10px;
	border-radius: 5px;
}
.switch_content_btn-select {
	color: white;
	background-color: rgb(63, 106, 216);
	box-shadow: 0 16px 26px -10px rgba(63,106,216,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(63,106,216,0.2);
}

.card-l {
	background-color: white;
	min-height: 200px;
	width: 100%;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.card-m {
	min-height: 200px;
	width: calc(50% - 15px);
	background-color: white;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.card-s {
	min-height: 200px;
	width: calc(25% - 15px);
	background-color: white;
}
.card-green {
	box-shadow: 0 0.46875rem 2.1875rem rgba(58,196,125,0.03), 0 0.9375rem 1.40625rem rgba(58,196,125,0.03), 0 0.25rem 0.53125rem rgba(58,196,125,0.05), 0 0.125rem 0.1875rem rgba(58,196,125,0.03);
	border-bottom: 4px solid rgb(58, 196, 125) !important;
	border-radius: 2px;
}
.card-blue {
	box-shadow: 0 0.46875rem 2.1875rem rgba(63,106,216,0.03), 0 0.9375rem 1.40625rem rgba(63,106,216,0.03), 0 0.25rem 0.53125rem rgba(63,106,216,0.05), 0 0.125rem 0.1875rem rgba(63,106,216,0.03);
	border-bottom: 4px solid rgb(63, 106, 216) !important;
	border-radius: 2px;
}
.card-yellow {
	box-shadow: 0 0.46875rem 2.1875rem rgba(247,185,36,0.03), 0 0.9375rem 1.40625rem rgba(247,185,36,0.03), 0 0.25rem 0.53125rem rgba(247,185,36,0.05), 0 0.125rem 0.1875rem rgba(247,185,36,0.03);
	border-bottom: 4px solid  rgb(247, 185, 36) !important;
	border-radius: 2px;
}
.card-red {
	box-shadow: 0 0.46875rem 2.1875rem rgba(217,37,80,0.03), 0 0.9375rem 1.40625rem rgba(217,37,80,0.03), 0 0.25rem 0.53125rem rgba(217,37,80,0.05), 0 0.125rem 0.1875rem rgba(217,37,80,0.03);
	border-bottom: 4px solid rgb(217, 37, 80) !important;
	border-radius: 2px;
}

.card_portfolio {
	width: inherit;
	height: 259px;
	background-color: white;

	display: flex;
	flex-direction: column;
}
.portfolio_header {
	flex-grow: 2;
	border-bottom: 1px solid rgba(26, 54, 126, 0.125);
	padding: 10px 18px 10px 25px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.portfolio_header > span {
	color: rgba(13,27,62,0.7);
	font-size: 1.1rem;
}
.portfolio_header > button {
	width: 85px;
	height: 30px;
	background-color: white;
	border: 2px solid;
	border-radius: 3px;
}
.portfolio_body {
	flex-grow: 5;
	border-bottom: 1px solid rgba(26, 54, 126, 0.125);

	display: flex;
}
.portfolio_widget {
	padding: 16px;

	flex-grow: 1;

	display: flex;
}
.portfolio_widget-left {
	margin-right: 16px;

	display: flex;
	justify-content: center;
	align-items: center
}
.portfolio_widget-left > div {
	width: 54px;
	height: 54px;
	border-radius: 27px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.portfolio_i-yellow {
	background-color: #f7b924 !important;
}
.portfolio_i-red {
	color: white;
	background-color: #d92550 !important;
}
.portfolio_i-green {
	color: white;
	background-color: #3ac47d !important;
}
.portfolio_widget-right {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.portfolio_subtitle {
	font-size: 0.88rem;
	opacity: 0.6;
	padding-top: 5px;
}
.portfolio_number {
	font-size: 2.5rem;
	font-weight: bold;
}
.text-success {
	color: #3ac47d !important;
}
.portfolio_des {
	font-size: 0.88rem;
	color: #444054;
	padding-bottom: 5px;
}
.portfolio_span-red {
	color: #d92550 !important;
	padding-right: 4px;
}
.portfolio_span-blue {
	color: #16aaff !important;
	padding-left: 4px;
}
.portfolio_span-yellow {
    color: #f7b924 !important;
    padding-left: 4px;
}

.portfolio_des > span > i {
	padding-right: 4px;
}
.portfolio_footer {
	flex-grow: 3; 
	padding: 12px 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
.portfolio_footer > button {
	width: 255px;
	height: 40px;
	background-color: #3f6ad8;
	border-radius: 50px;
	color: white;
	font-size: 0.95rem !important;
	box-shadow: 0 0.125rem 0.625rem rgba(63,106,216,0.4), 0 0.0625rem 0.125rem rgba(63,106,216,0.5);
}
.portfolio_footer > button > i {
	padding-right: 5px;
}
.big_graph {
	/*height: 515px;*/
	position: relative;

	display: flex;
	flex-direction: column;
}
.big_graph_header {
	border-bottom: 1px solid;
	border-bottom-color: rgba(26, 54, 126, 0.125);
	height: 55px;
	padding: 0 20px 0 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.big_graph_header-left > i {
	margin-right: 10px;
	color: #3ac47d !important;
	font-size: 1.1rem !important;
}
.big_graph_img {
	border-bottom: 1px solid;
	border-bottom-color: rgba(26, 54, 126, 0.125);
	padding: 10px;
	height: 303px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.big_graph_img > div {
}
.big_graph_img_header {
	height: 109px;
	padding: 32px 0 0 32px;
	box-sizing: border-box;
}
.big_graph_img_header_text {
	color: #6c757d;
	opacity: 0.5;
}
.big_graph_img_header_number > span {
	font-size: 2.5rem;
	margin-right: 10px;
}
.big_graph_img_header_number > i {
	color: #3ac47d;
	margin-right: 10px;
}
.big_graph_img_content > img {
	width: 100%;
	height: auto;
}
.big_graph_img_content > div {
	height: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.big_graph_btn {
	width: 10px;
	height: 10px;
	padding:0px;
	margin:;
	border: solid 2px rgb(63, 106, 216);
	background-color: white;
	border-radius: 10px;
	margin: 0 6px;
}
.big_graph_btn-selected {
	width: 15px;
	height: 15px;
	border-width: 3px;
}
.big_graph_img_des {
	padding: 0 3px;
	font-size: 0.9rem;
	color: #6c757d;
	opacity: 0.5;
}
.big_graph_footer {
	height: 127px;
	padding: 16px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.big_graph_footer_top {
	height: 40px;

	display: flex;
	justify-content: space-between;
}
.big_graph_footer_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.big_graph_footer_text_title {
	opacity: 0.8;
	font-weight: bold;
	font-size: 0.88rem;
}
.big_graph_footer_text_content {
	opacity: 0.5;
}
.big_graph_footer_number {
	font-size: 1.8rem;
	font-weight: bold;
	color: #3ac47d !important;
}
.big_graph_footer_bottom {
	height: 35px;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.big_graph_footer_bar {
	width: inherit;
	height: 8px;
	border-radius: 4px;
	background-color: #e9ecef;
}
.big_graph_footer_bar_value {
	width: 45%;
	height: 8px;
	border-radius: 4px;
	background-color: #3f6ad8 !important;

	position: absolute;

}
.big_graph_footer_bar_des {
	opacity: 0.5;

	display: flex;
	justify-content: space-between;
}
.big_graph_page_btn-left {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);

	position: absolute;
	left: -20px;
	top: 180px;
}

.big_graph_page_btn-right {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);

	position: absolute;
	right: -20px;
	top: 180px;
}
.big_graph_page_btn-left > i {
	-webkit-text-stroke: 2px white;
}
.big_graph_page_btn-right > i {
	-webkit-text-stroke: 2px white;
}

.timeline {
	/*height: 515px;*/
	display: flex;
	flex-direction: column;
}
.timeline_header {
	height: 56px;
	padding: 0 20px;
	border-bottom: solid 1px;
	border-bottom-color: rgba(26, 54, 126, 0.125);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.timeline_header-left > i{
	margin-right: 10px;
	color: rgb(217, 37, 80);
}
.timeline_body {
	height: 400px;
	border-bottom: solid 1px;
	border-bottom-color: rgba(26, 54, 126, 0.125);

	display: flex;
	flex-direction: column;
}
.timeline_body > div {
	flex-grow: 1;
	overflow-y: auto;
}
.timeline_message_container {
	margin: 24px 24px 24px 36px;
	border-left: 4px solid;
	border-radius: 2px;
	border-color: rgb(233, 236, 239);
	box-sizing: border-box;
	width: inherit;

	display: flex;
	flex-direction: column;
}
.timeline_message {
	position: relative;

	display: flex;
	flex-direction: column;
	margin: 10px 0;
}
.timeline_message > div {
	width: 14px;
	height: 14px;
	box-sizing: border-box;
	border: 3px solid;
	border-radius: 7px;
	background-color: white;
	position: absolute;
	top: 1px;
	left: -9px;
}
.timeline-red {
	border-color: rgb(217, 37, 80) !important;
}
.timeline-yellow {
	border-color: rgb(247, 185, 36) !important;
}
.timeline-green {
	border-color: rgb(58, 196, 125) !important;
}
.timeline-deep-blue {
	border-color: rgb(63, 106, 216) !important;
}
.timeline-light-blue {
	border-color: rgb(22, 170, 255) !important;
}
.timeline_message > p {
	margin-left: 30px;

	display: flex;
	align-items: center;
}
.timeline_highlight {
	margin-left: 5px;
	color: #3ac47d !important;
}
.timeline_new {
	width: 48px;
	height: 22px;
	background-color: rgb(217, 37, 80);
	border-radius: 5px;
	font-size: 75%;
	color: white;
	margin-left: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.people_img_block {
	position: relative;
	height: 37px;
}
.timeline_message > p > img {
	width: 34px;
	height: 34px;
	border:3px solid white;
	border-radius: 17px;
	box-sizing: border-box;
	position: absolute;
	top: 10px;
}
.timeline_footer {
	height: 58px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline_footer > button {
	height: 33px;
	width: 164px;
	border-radius: 16px;
	background-color: #444054;
	color: white;
	font-size: 0.88rem;
	position: relative;
}
.timeline_footer_dot {
	height: 15px;
	width: 15px;
	background-color: rgb(247, 185, 36);
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 8px;
	position: absolute;
	right: -3px;
	top: -5px;
}
.widget_card {
	width: 212px;
	height: 263px;
	padding: 16px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.widget_card_header {
	padding: 16px 0 4px 16px;
	color: rgba(49, 50, 57, 0.5);
}
.widget_card_header_title {
	font-size: 1.6rem;
}
.widget_card_header_title > span {
	color: rgb(49, 50, 57);
	font-size: 2rem;
	margin-left: 5px;
}
.widget_card_img > img {
	width: 70%;
	height: auto;
}

.employee_card_header {
	height: 56px;
	box-sizing: border-box;
	padding: 0 20px;
	border-bottom: solid 1px rgba(26, 54, 126, 0.125);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.employee_card_header-left > i {
	margin-right: 10px;
}
.employee_card_body {
	box-sizing: border-box;
	padding: 20px;
}
.employee_table_header {
	height: 39px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.employee_table_header-left > select {
	height: 31px;
	width: 62px;
	border-radius: 5px;
	border:1px solid #ced4da;
}
.employee_table_header-right > input {
	width: 165px;
	height: 31px;
	box-sizing: border-box;
	padding: 4px 8px;
	border:1px solid #ced4da;
	border-radius: 5px;
	margin-left: 5px;

}
.employee_table {
	width: 100%;
	margin-bottom: 12px;
	margin-top: 15px;
}
tr {
	height: 38px;
	box-sizing: border-box;
}
.deep_tr {
	background-color: rgba(0,0,0,0.03);
}

th {
	vertical-align: middle;
	text-align: left;
	padding-left: 9px;
	border:1px solid rgb(233, 236, 239);
	box-sizing: border-box;
	font-weight: bold;
}
thead > tr > th {
	position: relative;
}
th > span {
	position: absolute;
	right: 10px;
}
th > span > a > i {
	color: #495057;
	opacity: 0.3;
	font-size: 0.66rem;
} 
.employee_table_sort-selected > i {
	opacity: 1;
}
td{
	vertical-align: middle;
	text-align: left;
	padding-left: 9px;
	border:1px solid rgb(233, 236, 239);
	box-sizing: border-box;
}

.employee_table_footer {
	height: 39px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.employee_table_footer-left {

}
.employee_table_footer-right {

	display: flex;
	justify-content: flex-start;
}
.employee_table_footer-right > button {
	background-color: white;
	border: 1px solid #ced4da;
	padding: 8px 12px;
	margin-left: -1px;
	color: #007bff;
}
.employee_table_footer-pre {
	border-radius: 5px 0 0 5px;
}
.employee_table_footer-next {
	border-radius: 0 5px 5px 0;
}
.employee_table_footer_btn-disabled {
	color: #495057 !important;
}
.employee_table_footer_btn-selected {
	background-color: #3f6ad8 !important;
	color: white !important;
}
.task_list_header {
	height: 56px;
	padding: 0 20px;
	border-bottom: 1px solid rgba(26, 54, 126, 0.125);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.task_list_header-left > i {
	color: #16aaff;
	margin-right: 10px
}
.task_list_body {
	height: 400px;

	display: flex;
	flex-direction: column;
}
.task_list_body > div {
	flex-grow: 1;
	overflow-y: scroll;
	padding: 8px 8px 0 8px;
}
.task_list_container {
	padding: 12px 8px;
	border-bottom: 1px solid rgba(26, 54, 126, 0.125);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.task_list_item-left {
	display: flex;
	align-items: center;
}
.task_list_item-left > input {
	width: 16px;
	height: 16px;
	margin: 0 16px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid rgb(173, 181, 189);
}
.task_list_item-yellow {
	align-self: stretch;
	height: inherit;
	border-radius: 4px;
	border: 2px solid rgba(276, 185, 36, 0.6) !important;
}
.task_list_item-grey {
	align-self: stretch;
	height: inherit;
	border-radius: 4px;
	border: 2px solid rgba(68, 64, 84, 0.6) !important;
}
.task_list_item-deep-blue {
	align-self: stretch;
	height: inherit;
	border-radius: 4px;
	border: 2px solid rgba(63, 106, 216, 0.6) !important;
}
.task_list_item-light-blue {
	align-self: stretch;
	height: inherit;
	border-radius: 4px;
	border: 2px solid rgba(22, 170, 255, 0.6) !important;
}
.task_list_item-green {
	align-self: stretch;
	height: inherit;
	border-radius: 4px;
	border: 2px solid rgba(58, 196, 125, 0.6) !important;
}
.task_list_item_content {
}
.task_list_item_content > div {
	min-height: 21px;
}
.task_list_item_content-top {
	font-weight: bold;
}
.task_list_item_content-top > span {
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 75%;
	color: white;
	background-color: #d92550;
	display: inline-block;
}
.task_list_item_content-bottom {
	opacity: 0.5;
	max-width: 200px;
}
.task_list_item_content-bottom > span {
	margin-left: 10px;
	padding: 5px 10px;
	color: white;
	background-color: #16aaff;
	border-radius: 16px;
	font-size: 75%;
	font-weight: bold;
	display: inline-block;
}
.task_list_item-right > span{
	padding: 5px 10px;
	background-color:  #3ac47d;
	color: white;
	border-radius: 20px;
	font-weight: bold;
	font-size: 75%;
}
.task_list_item_img {
	margin-right: 16px;
	width: 42px;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px;
}

.task_list_footer {
	height: 56px;
	padding: 0 20px;
	border-top: 1px solid rgba(26, 54, 126, 0.125);

	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.task_list_footer > a {
	padding: 0 20px;
}
.task_list_footer > button {
	font-weight: bold;
	padding: 12px 12px;
	border-radius: 5px;
	background-color: #3f6ad8;
	color: white;
}


.dashboard_content_footer {
	height: 60px;
	padding: 0 24px 0 12px;
	background-color: rgb(250, 251, 252);
	box-sizing: border-box;
	border-top: 1px solid;
	border-top-color: rgb(233, 236, 239);

	display: flex;
	justify-content: space-between;
}
.dashboard_content_footer button {
	background-color: transparent;
}
.dashboard_content_footer-left {

	display: flex;
	align-items: center;
}
.dashboard_content_footer-left > button > i {
	margin: 5px;
}
.footer_btn-left {
	width: 44px;
	height: 44px;
	color: #d92550;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_btn-left > div {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #d92550;
}
.footer_btn-center {
	width: 44px;
	height: 44px;
	color: #3ac47d;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.footer_btn-right {
	width: 44px;
	height: 44px;
	color: #f7b924;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_btn-right > div {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #f7b924;
}
.footer_divider {
	margin: 0 10px;
	border-left:1px solid;
	border-color: rgb(233, 236, 239);
	height:40px;
}
.dashboard_content_footer-right {
	display: flex;
	align-items: center;
}
.footer_link {
	font-size: 0.88rem;
	color: #6c757d;
	padding: 8px 10px;
}
.footer_link > i {
	margin-left: 8px;
}
.footer_link_hl-black {
	background-color: #343a40;
	padding: 5px 10px;
	margin-left: 4px;
	border-radius: 5px;
	color: white;
	font-size: 80%;
}

/*float_icon*/
.float_icon {
	width: 52px;
	height: 52px;
	background-color: #f7b924;
	border-radius: 26px;
	position: fixed;
	right: 30px;
	bottom: 85px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.float_icon > button {
	background-color: transparent;
}